MATRIX_HOMESERVER_URL=https://matrix-client.matrix.org
MATRIX_IDENTITY_SERVER_URL=https://vector.im

S3_BUCKET=matrix-e2e-emr
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
PRESIGN_TTL_SECONDS=300
